<div [@routerTransition]>
  <app-page-header [heading]="'Subject'" [icon]="'fa-edit'"></app-page-header>

  <div class="card">

    <div class="card-header">{{ titulo | translate }}</div>
    <div class="card-body">

      <form [formGroup]="formulario" novalidate (ngSubmit)="onSubmit()">

        <div class="form-row">

          <div class="form-group col-12 col-sm-12 col-md-8 col-lg-6 col-xs-4">
            <label for="name">{{ 'Name' | translate }}</label>
            <input type="text" class="form-control" id="name" formControlName="nome">
          </div>

          <div class="form-group col-12 col-sm-4 col-md-2">
            <label for="tipo">{{'Type' | translate}}</label>
            <select class="form-control" id="tipo" formControlName="tipo">
              <option>Teórica</option>
              <option>Prática</option>
            </select>
          </div>

          <div class="form-group col-12 col-sm-12 col-md-8 col-lg-6 col-xs-4">
            <label for="resp">{{ 'Responsible' | translate }}</label>
            <div class="input-group" formGroupName="responsavel">
              <input type="text" class="form-control" id="resp" formControlName="nome" maxlength="120">

              <div class="input-group-append">
                <button class="btn btn-outline-primary" type="button" (click)="pesquisarResponsavel()">
                  <i class="fa fa-search" aria-label="click to Search"></i></button>
              </div>
            </div>
          </div>

        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary mr-2">{{'Save' | translate}}</button>
          <button type="button" class="btn btn-primary mr-2" (click)="voltar()">{{'Back' | translate}}</button>
        </div>

      </form>

    </div>
  </div>
</div>