<div [@routerTransition]>
  <tp-page-header [heading]="'Course'" [icon]="'fa-edit'"></tp-page-header>

  <div class="card">

    <div class="card-header">{{ title | translate }}</div>
    <div class="card-body">

      <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">

        <div class="form-row">

          <div class="form-group col-12 col-sm-12">
            <label for="name">{{ 'Name' | translate }}</label>
            <input type="text" class="form-control" id="name" formControlName="name" maxlength="80"
              [class.is-invalid]="f.name.touched && f.name.errors">

            <div class="invalid-feedback">
              <div *ngIf="f.name.errors?.required">{{'Name' | translate}} {{'is required' | translate}}</div>
              <div *ngIf="f.name.errors?.minlength">{{'Name' | translate}} {{'must be at least' | translate}} 5
                {{'characters' | translate}}</div>
              <div *ngIf="f.name.errors?.maxlength">{{'Name' | translate}} {{'must be at most' | translate}} 80
                {{ 'characters' | translate}}</div>
            </div>
          </div>

          <div class="form-group col-12 col-sm-12 col-md-8 col-lg-6 col-xs-4"
            *ngFor="let coordinator of coordinators.controls; let i = index;" formArrayName="coordinators">
            <label for="resp">{{ 'Coordinator' | translate }}</label>
            <div class="input-group" [formGroupName]="i">
              <input type="text" class="form-control" id="resp" formControlName="name" readonly
                [class.is-invalid]="coordinators.touched && coordinators.controls[i].get('id').errors">

              <div class="input-group-append">
                <button class="btn btn-outline-primary" type="button" (click)="searchCoordinator()">
                  <i aria-hidden="true" class="fa fa-search" aria-label="click to Search"></i></button>
              </div>
            </div>

            <div *ngIf="coordinators.touched && coordinators.controls[i].get('id').errors"
              class="invalid-feedback d-block">
              {{'Coordinator' | translate}} {{'is required' | translate}}
            </div>
          </div>

          <div class="form-group col-12 col-sm-12">
            <label for="resp">{{'Drag and drop all course subjects here' | translate}}</label>

            <div class="form-row">
              <div id="used" cdkDropList #used="cdkDropList" [cdkDropListConnectedTo]="[notUsed]"
                [cdkDropListData]="usedSubjects" class="col-lg-6" (cdkDropListDropped)="drop($event)">
                <ul class="list-group">
                  <li class="list-group-item list-group-item-dark">
                    <h5>{{'Added subjects' | translate}}</h5>
                  </li>

                  <li *ngIf="usedSubjects.length == 0" class="list-group-item">
                    {{'You have a beautiful empty list. Drag something here.' | translate}}
                    <i aria-hidden="true" class="fa fa-smile-o" aria-hidden="true"></i>
                  </li>

                  <div>
                    <li class="list-group-item" *ngFor="let subject of usedSubjects" cdkDrag>{{subject | subject}}</li>
                  </div>
                </ul>
              </div>

              <div id="notUsed" cdkDropList #notUsed="cdkDropList" [cdkDropListData]="notUsedSubjects"
                [cdkDropListConnectedTo]="[used]" (cdkDropListDropped)="drop($event)" class="col-lg-6">
                <ul class="list-group">
                  <li class="list-group-item list-group-item-light">
                    <h5>{{'All subjects' | translate}}</h5>
                  </li>

                  <div>
                    <li class="list-group-item" *ngFor="let subject of notUsedSubjects" cdkDrag>{{subject | subject}}
                    </li>
                  </div>
                </ul>
              </div>
            </div>

          </div>

        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary mr-2">
            <i aria-hidden="true" class="fa fa-save" aria-label="click to save the item"></i>
            {{'Save' | translate}}</button>
          <button type="button" class="btn btn-primary mr-2" (click)="back()">
            <i aria-hidden="true" class="fa fa-arrow-left" aria-label="click to return"></i>
            {{'Back' | translate}}</button>
        </div>

      </form>

    </div>
  </div>
</div>