<form [formGroup]="form" novalidate>
  <div class="modal-header">

    <div class="col-11">
      <label for="resp">{{ 'Responsible' | translate }}</label>
      <div class="input-group">
        <input class="form-control" type="text" placeholder="{{'Search' | translate}}" aria-label="Search text"
          formControlName="descriptionSearch" maxlength="120">

        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="submit" (click)="search()">
            <i aria-hidden="true" class="fa fa-search" aria-label="click to Search"></i></button>
        </div>
      </div>
    </div>

    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>
</form>

<div class="modal-body" *ngIf="items$ | async as items">

  <my-table [items]="items" (pageChange)="search($event)">
    <thead>
      <tr>
        <th class="col-radio"></th>
        <th class="col-sm-6">{{'Name' | translate}}</th>
        <th class="col-sm-5">{{'Email' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let user of items.content'>
        <td class="text-center">
          <button type="button" class="btn btn-outline-primary btn-sm"
            (click)="selectObject(user)">{{'Select' | translate}}</button>
        </td>
        <td>{{user.levelDegree}} {{user.name}}</td>
        <td>{{user.email}}</td>
      </tr>
    </tbody>
  </my-table>

</div>