<div class="login-page" [@routerTransition]>
    <div class="bg-image"></div>
    <div class="row justify-content-md-center pt-5">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>{{ 'Teaching Plan' | translate }} | Facens</h1>

            <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">

                <div class="form-content">
                    <div class="form-group">
                        <input type="email" class="form-control input-underline input-lg" id="email"
                            placeholder="{{ 'Email' | translate }}" formControlName="email"
                            [class.is-invalid]="f.email.touched && f.email.errors">

                        <div class="invalid-feedback">
                            <div *ngIf="f.email.errors?.required">{{'Email' | translate}} {{'is required' | translate}}
                            </div>
                            <div *ngIf="f.email.errors?.email">{{'Must be a valid email' | translate}}</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="pass"
                            placeholder="{{ 'Password' | translate }}" formControlName="senha"
                            [class.is-invalid]="f.senha.touched && f.senha.errors">

                        <div class="invalid-feedback">
                            <div *ngIf="f.senha.errors?.required">{{'Password' | translate}}
                                {{'is required' | translate}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn rounded-btn mr-2">{{ 'Log in' | translate }}</button>
                    <button type="button" class="btn rounded-btn mr-2"
                        [routerLink]="['/signup']">{{ 'Register' | translate }}</button>
                </div>

            </form>
        </div>
    </div>
</div>