<div [@routerTransition]>
  <tp-page-header [heading]="'Class'" [icon]="'fa-desktop'"></tp-page-header>

  <div class="card">
    <div class="card-header">
      <h3>{{'Search' | translate}}</h3>
      <form [formGroup]="form" novalidate>

        <div class="form-row">

          <div class="form-group input-group col-12 col-sm-12 col-md-10">
            <input class="form-control" type="text" placeholder="{{'className' | translate}}" aria-label="Search text"
              formControlName="descriptionSearch" maxlength="120">

            <div class="input-group-append">
              <button class="btn btn-outline-primary" type="submit" (click)="search()">
                <i class="fa fa-search" aria-label="click to Search"></i></button>
            </div>
          </div>

          <div class="form-group col-12 col-sm-6 col-md-2 d-flex justify-content-right">
            <button class="btn btn-primary" (click)="insert()" *appIsGranted="['CLASS', 'CREATE']">
              <i class="fa fa-plus" aria-label="click to add a new item"></i> {{'Add' | translate}}</button>
          </div>

        </div>

      </form>
    </div>

    <div class="card-body" *ngIf="items$ | async as items">

      <my-table [items]="items" (pageChange)="search($event)">
        <thead>
          <tr>
            <th class="col-sm-1">{{'Code' | translate}}</th>
            <th class="col-sm-5">{{'Subject' | translate}}</th>
            <th class="col-sm-4">{{'Teacher' | translate}}</th>
            <th class="col-sm-1">{{'Period' | translate}}</th>
            <th class="col-sm-1">{{'Semester' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let class of items.content' (click)="selectObject(class)" [class.active]="compare(class, object)">
            <td>{{class.code}}</td>
            <td>{{class.subject | subject}}</td>
            <td>{{class.teacher | user}}</td>
            <td>{{class.period | domain: 'PERIODO'}}</td>
            <td>{{class.year}}/{{class.semester}}</td>
          </tr>
        </tbody>
      </my-table>

      <div class="form-group" *ngIf="items.totalElements > 0">
        <button class="btn btn-primary mr-2" (click)="update()" [disabled]="!object" *appIsGranted="['CLASS', 'UPDATE']">
          <i class="fa fa-edit" aria-label="click to edit the item"></i> {{'Update' | translate}}</button>
        <button class="btn btn-danger mr-2" (click)="remove()" [disabled]="!object" *appIsGranted="['CLASS', 'DELETE']">
          <i class="fa fa-trash" aria-label="click to delete the item"></i> {{'Remove' | translate}} </button>
      </div>

    </div>

  </div>
</div>