$background-color: rgb(1, 20, 36);
$text-color: #fff;

.form-group {
  input::-webkit-input-placeholder {
    color: $text-color !important;
  }

  input:-moz-placeholder {
    /* Firefox 18- */
    color: $text-color !important;
  }

  input::-moz-placeholder {
    /* Firefox 19+ */
    color: $text-color !important;
  }

  input:-ms-input-placeholder {
    color: $text-color !important;
  }

  /* Change Autocomplete styles in Chrome*/
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    &.input-underline {
      -webkit-text-fill-color: #e0e0a3;
    }
    transition: background-color 5000s ease-in-out 0s;
  }

  .invalid-feedback {
    color: $text-color !important;
    padding: 0 1em;
    text-align: left;
  }
}

.input-lg {
  height: 2.8em;
  font-size: 1.1em;
  border-radius: 0;
}

.input-underline {
  background: 0 0;
  border: none;
  box-shadow: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  border-radius: 0;
  &:focus {
    border-bottom: 2px solid #fff;
    box-shadow: none;
  }
}

.rounded-btn {
  -webkit-border-radius: 50px;
  border-radius: 50px;
  color: rgba(255, 255, 255, 0.8);
  background: $background-color;
  border: 2px solid rgba(255, 255, 255, 0.8);
  line-height: 2.5em;
  padding: 0 1.1em;

  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 255, 255, 1);
    outline: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px height and up) */
@media only screen and (min-height: 600px) {
  .buttons {
    padding-top: 3em;
  }
}
