<div class="login-page" [@routerTransition]>
  <div class="bg-image"></div>

  <div class="text-center">
    <img class="user-avatar" src="assets/images/logo.png" width="150px" />
    <h1>{{ 'Teaching Plan' | translate }} | Facens</h1>
  </div>

  <div class="formLevels">
    <tp-signup-basic-form *ngIf="formLevel == 'basic'" [(form)]="form" (submit)="next()" (back)="back()">
    </tp-signup-basic-form>

    <tp-signup-details-form *ngIf="formLevel == 'details'" [(form)]="form" (submit)="onSubmit()" (back)="backToBasic()">
    </tp-signup-details-form>
  </div>

</div>