<div [@routerTransition]>
  <app-page-header [heading]="'Class'" [icon]="'fa-edit'"></app-page-header>

  <div class="card">
    <div class="card-header">{{ 'Class' | translate }}</div>
    <div class="card-body">

      <form [formGroup]="formulario" novalidate (ngSubmit)="onSubmit()">

        <div class="row">

          <div class="form-group col-12 col-sm-12 col-md-4 col-lg-3 col-xs-2">
            <label for="code">{{ 'Code' | translate }}</label>
            <input type="text" class="form-control" id="code" formControlName="code" maxlength="80">
          </div>

          <div class="form-group col-12 col-sm-4 col-md-4 mr-md-4 mr-lg-0 col-lg-3 col-xs-2">
            <label for="period">{{ 'Period' | translate }}</label>
            <select class="form-control" id="period" formControlName="period">
              <option *ngFor="let period of periods" value={{period.abbreviation}}>{{period.value1}}</option>
            </select>
          </div>

          <div class="form-group col-12 col-sm-4 col-md-4 col-lg-3 col-xs-2">
            <label for="semester">{{ 'Semester' | translate }}</label>
            <select class="form-control" id="semester" formControlName="semester">
              <option *ngFor="let semester of semesters" value={{semester.abbreviation}}>{{semester.value1}}</option>
            </select>
          </div>

          <div class="form-group col-12 col-sm-4 col-md-4 col-lg-3 col-xs-2">
            <label for="year">{{ 'Year' | translate }}</label>
            <input type="number" class="form-control" id="year" placeholder="YYYY" formControlName="year">
          </div>

        </div>

        <div class="row">

          <div class="form-group col-12 col-sm-12 col-md-8 col-lg-6 col-xs-4">
            <label>{{ 'Subject' | translate }}</label>
            <div class="input-group" formGroupName="subject">
              <input type="text" class="form-control" id="resp" formControlName="name" maxlength="120">

              <div class="input-group-append">
                <button class="btn btn-outline-primary" type="button" (click)="pesquisarSubject()">
                  <i class="fa fa-search" aria-label="click to Search"></i></button>
              </div>
            </div>
          </div>

          <div class="form-group col-12 col-sm-12 col-md-8 col-lg-6 col-xs-4">
            <label>{{ 'Teacher' | translate }}</label>
            <div class="input-group" formGroupName="teacher">
              <input type="text" class="form-control" id="resp" formControlName="name" maxlength="120">

              <div class="input-group-append">
                <button class="btn btn-outline-primary" type="button" (click)="pesquisarTeacher()">
                  <i class="fa fa-search" aria-label="click to Search"></i></button>
              </div>
            </div>
          </div>

        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary mr-2">
            <i class="fa fa-save" aria-label="click to save the item"></i> {{'Save' | translate}}</button>
          <button type="button" class="btn btn-primary mr-2" (click)="voltar()">
            <i class="fa fa-arrow-left" aria-label="click to return"></i> {{'Back' | translate}}</button>
        </div>

      </form>

    </div>

  </div>
</div>