<form [formGroup]="form" novalidate>
  <div class="modal-header">

    <div class="col-11">
      <label for="resp">{{ 'Subject' | translate }}</label>
      <div class="input-group">
        <input class="form-control" type="text" placeholder="{{'Search' | translate}}" aria-label="Search text"
          formControlName="descriptionSearch" maxlength="80">

        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="submit" (click)="search()">
            <i class="fa fa-search" aria-label="click to Search"></i></button>
        </div>
      </div>
    </div>

    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>
</form>

<div class="modal-body" *ngIf="items$ | async as items">

  <my-table [items]="items" (pageChange)="search($event)">
    <thead>
      <tr>
        <th class="col-radio"></th>
        <th class="col-sm-6">{{'Name' | translate}}</th>
        <th class="col-sm-4">{{'Responsible' | translate}}</th>
        <th class="col-sm-1">{{'Type' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let subject of items.content'>
        <td class="text-center">
          <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-outline-primary btn-sm"
              (click)="selectObject(subject)">{{'Select' | translate}}</button>
          </div>
        </td>
        <td>{{subject.name}}</td>
        <td>{{subject.responsible | user }}</td>
        <td>{{subject.type | domain: 'TIPO_DISCIPLINA'}}</td>
      </tr>
    </tbody>
  </my-table>

</div>